footer.footer 
    .container.d-flex.flex-column 
        .footer__menu.d-flex.justify-content-between
            .footer__menu-info 
                img.logo(src="img/zoftlogo1.svg", alt="")
                .footer__menu-info_text Потратьте всего несколько часов для создания собственного сайта, пользуясь широким выбором и удобным интерфейсом
            .footer__menu-cons
                .footer__menu-cons_title КОНСТРУКТОР
                .footer__menu-cons_menu.d-flex.flex-column 
                    a.footer__menu-cons_menu-item(href="#!") Шаблоны 
                    a.footer__menu-cons_menu-item(href="#!") Возможности 
                    a.footer__menu-cons_menu-item(href="#!") Мои сайты 
                    a.footer__menu-cons_menu-item(href="#!") Тарифы 
            .footer__menu-cons
                .footer__menu-cons_title КОМПАНИЯ
                .footer__menu-cons_menu.d-flex.flex-column
                    a.footer__menu-cons_menu-item(href="#!") О Нас
                    a.footer__menu-cons_menu-item(href="#!") Помощь
                    a.footer__menu-cons_menu-item(href="#!") Хостинг и Домены
            .footer__menu-cons
                .footer__menu-cons_title КОНТАКТЫ
                .footer__menu-cons_menu.d-flex.flex-column
                    a.footer__menu-cons_menu-item(href="mailto:zetsoftenterprise@gmail.com") mailto:zetsoftenterprise@gmail.com
                    a.footer__menu-cons_menu-item(href="tel:+998(99)9999999") +998(99) 999 99 99
                    a.footer__menu-cons_menu-item(href="#!") Toshkent,Mirzo Ulug’bek, Suxayil ko’chasi, 10A uy
        .footer__end.d-flex.justify-content-between 
            p.footer__end-info © 2020 ZOFT. Все права защищены.
            .footer__end-icons.d-flex.justify-content-between
                a(href="https://www.instagram.com/").fab.fa-instagram
                a(href="https://www.google.com/").fal.fa-globe
                a(href="https://www.twitter.com/").fab.fa-twitter
                a(href="https://www.youtube.com/").fab.fa-youtube
                a(href="https://www.twitter.com/").fab.fa-twitter