.header__end 
    .container
        .header__end-items
            .header__end-item.d-flex 
                img.header__end-item_img(src="img/end1.jpg", alt="")
                a.header__end-item_title(href="#!")  Адаптивный
            .header__end-item.d-flex 
                img.header__end-item_img(src="img/end2.jpg", alt="")
                a.header__end-item_title(href="#!")  Быстрый
            .header__end-item.d-flex 
                img.header__end-item_img(src="img/end3.jpg", alt="")
                a.header__end-item_title(href="#!")  Выгодный
            .header__end-item.d-flex 
                img.header__end-item_img(src="img/end4.jpg", alt="")
                a.header__end-item_title(href="#!")  Креативный