header.header
    .header__main
        .container 
            .header__info 
                h1.header__info-title СОЗДАТЬ САЙТ - ЛЕГКО!
                p.header__info-text Потратьте всего несколько часов для создания собственного сайта
                p.header__info-text Пользуйтесь широким выбором и удобным интерфейсом
                a.btnn Создать сайт
        .header__imgs 
            img.header__img(src="img/header-img.jpg", alt="")
    .header__vector.d-flex 
        img.vektor1(src="img/Vector.svg", alt="")
        img.vektor2(src="img/Vector1.svg", alt="")