main.main 
    .main__head
        .main__head-idea.container.d-flex.justify-content-center 
            .main__head-imgs 
                img.main__head-imgs_img(src="img/main-head.png", alt="")
            .main__head-idea_info 
                h3.main__head-idea_info-title Воплотите свои идеи в реальность
                .main__head-idea_info-item.d-flex
                    i.fas.fa-check-circle.main__head-idea_info-item_icon
                    p.main__head-idea_info-item_text Не требует технического опыта в создании
                .main__head-idea_info-item.d-flex
                    i.fas.fa-check-circle.main__head-idea_info-item_icon
                    p.main__head-idea_info-item_text Экономит ваше время и деньги
                .main__head-idea_info-item.d-flex
                    i.fas.fa-check-circle.main__head-idea_info-item_icon
                    p.main__head-idea_info-item_text Создает адаптивный сайт под все экраны      
        .main__head-items.container.d-flex.justify-content-between 
            .main__head-item.d-flex
                .main__head-item_info.d-flex.flex-column 
                    h3.main__head-item_info-title Сайты
                    p.main__head-item_info-text Создавайте сайты любых типов, пользуясь удобным редактором ZOFT
                i.main__head-item_icon.fal.fa-globe
            .main__head-item.d-flex
                .main__head-item_info.d-flex.flex-column 
                    h3.main__head-item_info-title Лендинги
                    p.main__head-item_info-text Привлекайте клиентов красивым одностраничным сайтом с помощью ZOFT
                i.main__head-item_icon.fal.fa-browser
            .main__head-item.d-flex
                .main__head-item_info.d-flex.flex-column 
                    h3.main__head-item_info-title Магазины
                    p.main__head-item_info-text Интернет-магазин требование времени. Продавайте товары онлайн.
                i.main__head-item_icon.fal.fa-store-alt
        .main__head-templates.d-flex.flex-column 
            h1.container.d-flex.main__head-templates_title Выбери подходящий шаблон для большего удобства!
            .main__head-templates_items.d-flex.flex-column
                    .up.d-flex.justify-content-center 
                        img.main__head-templates_items-item(src="img/Template1.jpg", alt="")
                        img.main__head-templates_items-item(src="img/Template2.jpg", alt="")
                        img.main__head-templates_items-item(src="img/Template3.jpg", alt="")
                        img.main__head-templates_items-item(src="img/Template4.jpg", alt="")
                    .down.d-flex.justify-content-center
                        img.main__head-templates_items-item(src="img/Template5.jpg", alt="")
                        img.main__head-templates_items-item(src="img/Template6.jpg", alt="")
                        img.main__head-templates_items-item(src="img/Template7.jpg", alt="")
                        img.main__head-templates_items-item(src="img/Template8.jpg", alt="")
            .main__head-templates_link.container.d-flex.justify-content-center
                a(href="#!")  Просмотреть все шаблоны 
                i.fal.fa-long-arrow-right
        .main__head-info
            .head__info
                .container.d-flex.flex-column
                    h1.main__head-info_title Как работает ZOFT?
                    .main__head-info_rule.d-flex.justify-content-between
                        img.main__head-info_rule-img.row(src="img/info-img.jpg", alt="")
                        .main__head-info_rule-menu
                            .main__head-info_rule-menu_item 
                                .main__head-info_rule-menu_item-text 
                                    h3 Перетащите блоки на страницу
                                    p Для начала создайте новый сайт и выберите тему. После этого откройте панель блоков, нажав красную кнопку в нижнем правом углу, и начните перетаскивать понравившиеся блоки.
                                .main__head-info_rule-menu_item-number 01
                            .main__head-info_rule-menu_item 
                                .main__head-info_rule-menu_item-text 
                                    h3 Редактируйте контент и его стиль
                                    p Редактируйте контент каждого блока так же, как и в обычном текстовом редакторе. Нажмите на элементы мультимедиа, чтобы вставить свои собственные картинки, видео или значки.
                                .main__head-info_rule-menu_item-number 02
                            .main__head-info_rule-menu_item 
                                .main__head-info_rule-menu_item-text 
                                    h3 Настройте параметры блока
                                    p Настраивайте подходящие опции в панели параметров, которая появляется при нажатии на голубую кнопку.
                                .main__head-info_rule-menu_item-number 03
                            .main__head-info_rule-menu_item 
                                .main__head-info_rule-menu_item-text 
                                    h3 Опубликуйте свой сайт
                                    p Опубликуйте Ваш вебсайт, где Вам угодно: в папке на локальном диске, на сервер через FTP или на бесплатном хостинге ZETSOFT.
                                .main__head-info_rule-menu_item-number 04
        .main__head-block 
            .container.d-flex.flex-column 
                h2.main__head-block_title 3500+ потрясающих блоков
                p.main__head-block_text В ZOFT доступны 3500+ блоков в бесплатной 5 теме и в 75+ премиальных темах и 200+ шаблонах домашних страниц, в которые включают в себя слайдеры, галереи с лайтбоксом, статьи и другие. Блоки разработаны с учётом последних трендов в области веб-дизайна, лёгкие в настройке, имеют множество функций для их редактирования.
            .main__head-block_vectors.d-flex 
                img.vector1(src="img/Vector1.svg", alt="")
                img.vector2(src="img/Vector2.svg", alt="")
        .main__head-attract
            img.main__head-attract_img(src="img/attract.jpg", alt="")
            .main__head-attract_info
                .main__head-attract_menu.container.d-flex.flex-column
                    h2.main__head-attract_menu-title Привлекайте клиентов изящными  сайтами
                    p.main__head-attract_menu-text Используя широкий ассортимент шаблонов в редакторе ZOFT создайте дизайн под свой вкус и привлекайте клиентов
    .main__opinion
        .container.d-flex.flex-column.align-items-center 
            h2.main__opinion-title Что говорят наши клиенты
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators d-flex">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        .slider__items.d-flex 
                            .slider__items-item.d-flex.flex-column.align-items-center.text-center
                                .slider__items-item_info 
                                    h4.slider__items-item_info-title Простота использования
                                    p.slider__items-item_info-text Решил попробовать и остался очень доволен! Конструктор достаточно прост в обращении и не требует специальных знаний web-мастеринга. 
                                    p.slider__items-item_info-text В освоении конструктор сайтов прост. Работает по принципу
                                    p.slider__items-item_info-text Drag & Drop. Интерфейс очень понятен. 
                                i.fas.fa-caret-down
                                img.slider__items-item_img(src="img/avatar1.png", alt="")                    
                            .slider__items-item.d-flex.flex-column.align-items-center.text-center
                                .slider__items-item_info 
                                    h4.slider__items-item_info-title Простота использования
                                    p.slider__items-item_info-text Решил попробовать и остался очень доволен! Конструктор достаточно прост в обращении и не требует специальных знаний web-мастеринга. 
                                    p.slider__items-item_info-text В освоении конструктор сайтов прост. Работает по принципу
                                    p.slider__items-item_info-text Drag & Drop. Интерфейс очень понятен. 
                                i.fas.fa-caret-down
                                img.slider__items-item_img(src="img/avatar2.png", alt="")                    
                    </div>
                    <div class="carousel-item">
                        .slider__items.d-flex 
                            .slider__items-item.d-flex.flex-column.align-items-center.text-center
                                .slider__items-item_info 
                                    h4.slider__items-item_info-title Простота использования
                                    p.slider__items-item_info-text Решил попробовать и остался очень доволен! Конструктор достаточно прост в обращении и не требует специальных знаний web-мастеринга. 
                                    p.slider__items-item_info-text В освоении конструктор сайтов прост. Работает по принципу
                                    p.slider__items-item_info-text Drag & Drop. Интерфейс очень понятен. 
                                i.fas.fa-caret-down
                                img.slider__items-item_img(src="img/avatar1.png", alt="")                    
                            .slider__items-item.d-flex.flex-column.align-items-center.text-center
                                .slider__items-item_info 
                                    h4.slider__items-item_info-title Простота использования
                                    p.slider__items-item_info-text Решил попробовать и остался очень доволен! Конструктор достаточно прост в обращении и не требует специальных знаний web-мастеринга. 
                                    p.slider__items-item_info-text В освоении конструктор сайтов прост. Работает по принципу
                                    p.slider__items-item_info-text Drag & Drop. Интерфейс очень понятен. 
                                i.fas.fa-caret-down
                                img.slider__items-item_img(src="img/avatar2.png", alt="")                    
                    </div>
                    <div class="carousel-item">
                        .slider__items.d-flex 
                            .slider__items-item.d-flex.flex-column.align-items-center.text-center
                                .slider__items-item_info 
                                    h4.slider__items-item_info-title Простота использования
                                    p.slider__items-item_info-text Решил попробовать и остался очень доволен! Конструктор достаточно прост в обращении и не требует специальных знаний web-мастеринга. 
                                    p.slider__items-item_info-text В освоении конструктор сайтов прост. Работает по принципу
                                    p.slider__items-item_info-text Drag & Drop. Интерфейс очень понятен. 
                                i.fas.fa-caret-down
                                img.slider__items-item_img(src="img/avatar1.png", alt="")                    
                            .slider__items-item.d-flex.flex-column.align-items-center.text-center
                                .slider__items-item_info 
                                    h4.slider__items-item_info-title Простота использования
                                    p.slider__items-item_info-text Решил попробовать и остался очень доволен! Конструктор достаточно прост в обращении и не требует специальных знаний web-мастеринга. 
                                    p.slider__items-item_info-text В освоении конструктор сайтов прост. Работает по принципу
                                    p.slider__items-item_info-text Drag & Drop. Интерфейс очень понятен. 
                                i.fas.fa-caret-down
                                img.slider__items-item_img(src="img/avatar2.png", alt="")                    
                    </div>
                </div>
            </div>
    .main__try 
        .container.d-flex.flex-column.align-items-center 
            h1.main__try-title Попробуйте сейчас
            p.main__try-text Бесплатный период 7 дней. За это время вы успеете создать свой сайт, узнать возможности конструктора и понять, подходит ли вам ZOFT.
            a.main__try-btn(href="#!") Попробовать бесплатно 